{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">
  <div class="row">
     <h2 style="text-align: center;color:#0640969a;">GENERAL NEWS</h2><hr>
        {% for all_news in general %}
         <div class="col-md-2">
           <div class="thumbnail">
              <div class="details">
                 <h4>{{all_news.name}}</a></h4>
                   <p>{{all_news.description | truncate(100)}}</p>
                   <p><a href="/articles/{{ all_news.id}}">Read {{all_news.name}} Articles</a></p>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
 </div>
 <hr>
<div class="container-F">
  <div class="row">
    <h2 style="text-align: center;color:#0640969a;">BUSINESS NEWS</h2><hr>
        {% for all_news in business %}
        <div class="col-md-2">
          <div class="thumbnail">
            <div class="details">
              <h4>{{all_news.name}}</h4>
                <p>{{all_news.description | truncate(100)}}</p>
                <p><a href="/articles/{{ all_news.id}}">Read {{all_news.name}} Articles</a></p>
              </div>
            </div>
         </div>
        {% endfor %}
     </div>
</div>
<hr>
<div class="container-fluid">
  <div class="row">
    <h2 style="text-align: center;color:#0640969a;">SPORTS NEWS</h2><hr>
      {% for all_news in sports %}
        <div class="col-md-2">
           <div class="thumbnail">
              <div class="details">
                 <h4>{{all_news.name}}</a></h4>
                   <p>{{all_news.description | truncate(100)}}</p>
                   <p><a href="/articles/{{ all_news.id}}">Read {{all_news.name}} Articles</a></p>
                </div>
              </div>
            </div>
       {% endfor %}
  </div>
</div>
<hr>
<div class="h-100 p-5 text-white bg-dark rounded-3">
  <div class="row">
    <h2 style="text-align: center;color:#0640969a;">TECH NEWS</h2><hr>
     {% for all_news in technology %}
     <div class="col-md-2">
       <div class="thumbnail">
         <div class="details">
           <h4>{{all_news.name}}</a></h4>
            <p>{{all_news.description | truncate(100)}}</p>
            <p><a href="/articles/{{ all_news.id}}">Read {{all_news.name}} Articles</a></p>
          </div>
        </div>
     </div>
     {% endfor %}
 </div>
</div>
<hr>
  <h2 style="text-align: center;color: #0640969a;">SCIENCE NEWS </h2>
 <hr>
  {% for all_news in science %}
  <div class="col-md-2">
    <div class="thumbnail">
      <div class="details">
        <h4>{{all_news.name}}</a></h4>
          <p>{{all_news.description | truncate(100)}}</p>
          <p><a href="/articles/{{ all_news.id}}">Read {{all_news.name}} Articles</a></p>
       </div>
      </div>
     </div>
  {% endfor %}
</div>
</div>
<hr>
                              
{%  endblock %}
